html {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
  background-color: #fff;
  font-family: arial, sans-serif;
}

table {
  margin: auto;
  font-family: arial;
  border-spacing: 10px;
}

table tr td {
  border: 0;
  margin: 0;
  padding: 0;
}

input, label, table tr td {
  color: #333;
  font-size: 13px;
  font-family: arial, sans-serif;
}

label {
  flex: 1;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  height: 48px;
  cursor: pointer;
  font-weight: 600;
  line-height: 48px;
  user-select: none;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
}

input[type='radio'], input[type='checkbox'] {
  margin-top: 13px;
  vertical-align: bottom;
  margin: auto 0 auto 15px;
}

.container {
  display: flex;
  overflow: auto;
  margin-top: 10px;
  flex-flow: column;
  align-items: center;
  height: calc(100vh - 233px);
}

.logo {
  width: 100%;
  height: 118px;
  background-repeat: no-repeat;
  background-size: 50px !important;
  background-position: center center;
  background-image: url('../icons/100.png');
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.logo[init] {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

.logo[blink] {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.section {
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.section:has(#filepath) {
  margin-bottom: 5px;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.row[disabled] .title {
  opacity: 0.5;
  cursor: not-allowed;
}

.row[disabled] .option {
  opacity: 0.5;
  cursor: not-allowed;
}

.row[disabled] input, 
.row[disabled] label {
  pointer-events: none;
}

.option {
  padding: 0;
  margin: 5px;
  height: 48px;
  width: 168px;
  display: flex;
  flex-flow: row;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  line-height: 48px;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  text-overflow: ellipsis;
  justify-content: center;
  border: solid 1px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.01);
  transition: 300ms ease background-color;
}

.option:hover {
  background-color: rgba(0,0,0,0.03);
}

.option:has([disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
}

.option:has([disabled]) label {
  cursor: not-allowed;
}

.option:has(#filepath) {
  width: 100%;
  height: 48px;
  opacity: 1.00;
  cursor: default;
  margin-top: 5px;
  max-width: 700px;
  border-color: #999;
  background-color: #fff;
}

.option:has(#filepath[required]) {
  border-color: #ed5646;
  animation: blinker 1000ms linear infinite;
}

.option #filepath {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
  outline: none;
  color: #0075ff;
  font-size: 14px;
  font-weight: 600;
  text-indent: 15px;
  background-color: #fff;
  font-family: monospace;
  box-sizing: border-box;
}

.option #filepath[streamwrite='true'] {
  cursor: default;
}

.title {
  padding: 0;
  color: #333;
  height: 38px;
  display: flex;
  font-size: 13px;
  user-select: none;
  line-height: 38px;
  flex-direction: row;
  text-transform: uppercase;
  font-family: arial, sans-serif;
}

.title p {
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 12px;
  overflow: hidden;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-family: arial, sans-serif;
}

.title:after {
  flex: 1;
  content: '';
  margin: auto;
  margin-top: 18px;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.title:after {
  margin-left: 10px;
}

.icon {
  border: 0;
  width: 22px;
  margin: 3px;
  height: 22px;
  padding: 5px;
  min-width: 22px;
  max-width: 22px;
  line-height: 22px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #ed5646;
}

.icon svg {
  fill: #fff;
  pointer-events: none;
  vertical-align: middle;
}

.footer {
  left: 0;
  border: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.start {
  padding: 0;
  color: #fff;
  width: 100%;
  height: 48px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  line-height: 50px;
  user-select: none;
  text-align: center;
  letter-spacing: 1px;
  box-sizing: border-box;
  background-color: #ed5646;
  transition: 300ms ease all;
}

.start:hover {
  background-color: #f55746;
}

.info {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  height: 44px;
  border-top: solid 1px rgba(0,0,0,0.05);
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.status, .elapsed {
  border: 0;
  margin: 0;
  color: #333;
  float: right;
  height: 44px;
  font-size: 14px;
  padding: 0 15px;
  overflow: hidden;
  font-weight: 600;
  text-align: right;
  line-height: 44px;
  white-space: nowrap;
  font-family: monospace;
  width: calc(50% - 5px);
  box-sizing: border-box;
  text-overflow: ellipsis;
  transition: 300ms ease all;
}

.status {
  float: left;
  text-align: left;
  user-select: none;
}

.elapsed {
  float: right;
  text-align: right;
}

.extra, .toolbar {
  top: 0;
  z-index: 11;
  position: absolute;
}

.extra {
  left: 0;
}

.toolbar {
  right: 0;
}

.extra table, .toolbar table {
  table-layout: fixed;
  border-spacing: 1px;
}

.extra table tr td, .toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 38px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.extra table tr td svg, .toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.extra table tr td:hover, .toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

@-moz-document url-prefix() {
  .status, .elapsed {
    font-size: 14px;
    font-weight: normal;
    font-family: monaco, 'andale mono', 'lucida console", "courier new", monospace;
  }
}

@keyframes blinker {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  0% {background-image: url('../icons/OFF/100.png')}
  49% {background-image: url('../icons/OFF/100.png')}
  51% {background-image: url('../icons/ON/100.png')}
  100% {background-image: url('../icons/ON/100.png')}
}

@media (max-width: 600px) {
  .row {
    width: calc(100% - 10px);
  }
}

@media (max-width: 500px) {
  .container {
    height: calc(100vh - 233px);
  } 
  .row {
    padding: 0;
    width: calc(100% - 20px);
  }
  .start {
    padding: 20px;
  }
  .title {
    margin-bottom: 5px;
  }
  .option {
    width: 100%;
    height: 48px;
    line-height: 48px;
  }
}

html[context='webapp'] .extra,
html[context='webapp'] .toolbar {
  display: none;
}
